@import "style.css";

body {
  background: linear-gradient(180.96deg, #39289F 0.82%, #422F9C 129.1%);
}

.preview {
  padding: 203px calc(50% - 573px) 157px;
  position: relative;
}
/*-----*/
.preview-top {
  width: 100%;
  max-width: 527px;
}

.preview-top__span {
  font: 700 20px/31px var(--poppins);
  color: #e87d0e;
}

.preview-top__title {
  font: 700 50px/78px var(--poppins);
  margin-top: 17px;
}

.preview-top__text {
  font: 500 16px/32px var(--poppins);
  margin-top: 26px;
}

.preview-top__link {
  display: inline-block;
  font: 500 16px/24px var(--poppins);
  color: var(--white);
  background: var(--orange-gradient);
  padding: 15px 30px;
  border-radius: 40px;
  margin-top: 50px;
}

.joystick, .cry, .unity, .unreal {
  position: absolute;
  z-index: -1;
}

.joystick {
  top: 0;
  right: 0; /*!!!!*/
}

.cry {
  top: 202px;
  right: 511px;
}

.unreal {
  top: 218px;
  right: 213px;
}

.unity {
  top: 409px;
  right: 695px;
}
/*----*/
.preview-center {
  margin-top: 178px;
}

.preview-center__panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-center__title {
  font: 700 31px/58px var(--rubik);
}

.preview-center__button, .img-block__button {
  font: 500 20px/38px var(--rubik);
  color: var(--white);
  padding: 10px 30px;
  background: #ffffff1c;
  border-radius: 10px;
}

.card-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  margin-top: 57px;
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  border-radius: 20px;
  max-width: 251px;
}

.card-info {
  display: flex;
  margin-top: 25px;
}

.card-info span {
  margin-left: 12px;
  font: 500 22px/41px var(--rubik);
  color: var(--white);
}

.card-info svg {
  width: 19px;
}
/*-----*/
.preview-bottom {
  margin-top: 129px;
}

.preview-bottom__title {
  margin-inline: auto;
  text-align: center;
  font: 600 35px/66px var(--poppins);
  max-width: 826px;
}

.preview-bottom__span {
  display: inline-block;
  font: 600 30px/56px var(--poppins);
  margin-top: 67px;
}

.preview-bottom__text {
  font: 600 16px/30px var(--poppins);
  margin-top: 32px;
  max-width: 545px;
}

.preview-bottom img {
  margin-top: 46px;
  width: 100%;
  border-radius: 5px;
}
/*------*/
.center-section {
  position: relative;
  background: url("../img/img-7.jpg") no-repeat 50% 50%;
  width: 100%;
  min-height: 874px;
  padding: 93px 0 85px;
}

.center-section::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
  backdrop-filter: blur(2px);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.center-section__title, .center-section__text, .center-section__list {
  position: relative;
  z-index: 3;
}

.center-section__title, .center-section__text {
  text-align: center;
  padding-inline: calc(50% - 413px);
}

.center-section__title {
  font: 700 30px/56px var(--poppins);
}

.center-section__text {
  font: 400 16px/30px var(--poppins);
  margin-top: 25px;
}

.center-section__list {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 99px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, min-content);
  min-height: 400px;
  width: 100%;
  max-width: 1046px;
  align-content: space-between;
  justify-content: space-between;
}

.block-5 {
  grid-column: 2/3;
}

.block-6 {
  grid-column: 3/4;
}

.center-section__list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-section__list__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: var(--white);
  border-radius: 50%;
}

.center-section__list__text {
  font: 500 16px/30px var(--poppins);
  color: var(--white);
  text-align: center;
  margin-top: 30px;
}

.center-section__list__link > svg {
  margin-top: 24px;
}
/*********/
.last-section {
  padding: 148px calc(50% - 585px) 163px;
}

.img-block__title, .img-block__text {
  text-align: center;
}

.img-block__title {
  font: 700 30px/56px var(--poppins);
}

.img-block__text {
  max-width: 497px;
  margin: 15px auto 0;
  font: 400 14px/26px var(--poppins);
}

.img-block__list {
  margin-top: 71px;
  display: flex;
  flex-wrap: wrap;
  min-height: 479px;
  justify-content: space-between;
  align-content: space-between;
}

.img-block__item {
  max-width: 100%;
  max-height: 223px;
  border-radius: 20px;
}

.img-block__button {
  position: relative;
  display: inline-block;
  margin-top: 72px;
  left: 50%;
  transform: translateX(-50%);
}